<section class="cart">
  <a class="cart__btn">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </a>
  <div class="count hide"></div>
</section>

<section class="check hide">
  <div class="container">
    <h3>購物車</h3>
    <div action="" method="">
      <div class="container__head"></div>
      <div class="container__body"></div>
      <div class="container__foot"></div>
      <div class="container__function">
        <span>結帳功能沒有做 QQ</span>
        <button type="submit" class="order">結帳</button>
        <button class="clear__cart">清空購物車</button>
      </div>
    </div>
  </div>
</section>